# Azure Pipelines YAML for Docker-in-Docker
trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: build
  displayName: 'Docker in Docker Build'
  container:
    # bash needed for Azure Pipelines https://learn.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azure-devops&tabs=linux
    image: gmaresca/azure-pipeline-agent:ubuntu-18.04-base
    options: --privileged #--volume /var/run/docker.sock:/var/run/docker.sock
  steps:
    - checkout: self

    - script: |
        docker version
      displayName: 'Check Docker version'

    - script: |
        docker build -t my-docker-image:latest .
        docker run my-docker-image:latest
        docker ps -a
      displayName: 'Build and run Docker image'
