name: Docker in Docker

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: docker:20.10.7
      options: --privileged # Required for Docker-in-Docker
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push Docker image
        run: |
          docker build -t my-docker-image:latest .
          docker run my-docker-image:latest
